html {
  font-size: 62.5%;
}

body {
  font-family: "Lato";
  font-weight: 300;
  background-color: #666666;
}

.password--container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40rem;
  background-color: #1a1919;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password--heading {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.password--length {
  width: 80%;
  height: 2px;
  background: #111;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  position: absolute;
  top: 48%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.password--length::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.password--length_min {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.password--length_max {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.password--length_title {
  position: absolute;
  font-size: 1.1rem;
  top: -16px;
  left: 0px;
}

.password--input_container {
  position: relative;
}

.container--background {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  font-family: "Lato";
  font-size: 2rem;
  margin: 0 auto;
  display: block;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.container--background:nth-child(2) {
  margin-bottom: 3rem;
}

.container--background:nth-child(3) {
  margin-bottom: 3rem;
}

input[type="checkbox"] {
  position: relative;
  -webkit-appearance: none;
  float: right;
  width: 4rem;
  height: 2rem;
  border-radius: 20px;
  background-color: #b9b8b8;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

input[type="checkbox"]:checked {
  background-color: #1a1919;
}

input[type="checkbox"]:checked::before {
  left: 50%;
}

input[id="password"]::-webkit-input-placeholder {
  color: #fff;
  font-size: 1.7rem;
}

input[id="password"]:focus, input[id="password"]:active {
  outline: none;
}

.button--generate {
  width: 85%;
  padding: 1rem 1.5rem;
  padding-top: 0.5rem;
  font-size: 1.5rem;
  background-color: #555;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button--generate:hover {
  cursor: pointer;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.button--generate:focus, .button--generate:active {
  outline: none;
}

.copy_text {
  position: absolute;
  bottom: 5px;
  right: 35px;
  font-size: 1.3rem;
  color: #fff;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-align-center {
  text-align: center;
}

.hider {
  display: none;
}
/*# sourceMappingURL=style.css.map */