html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
}

body * {
  font-family: "Montserrat", sans-serif !important;
}

.pg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40rem;
  background-color: #393e46;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pg__heading {
  font-size: 3rem;
  font-weight: 500;
  color: #eeeeee;
  letter-spacing: 1px;
  text-align: center;
}

.pg__slider {
  width: 80%;
  height: 2px;
  background: #00adb5;
  -webkit-appearance: none;
  outline: none;
  border-radius: 2px;
  position: absolute;
  top: 48%;
  left: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.pg__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eeeeee;
}

.pg__slider--min {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pg__slider--max {
  position: absolute;
  font-size: 1.5rem;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pg__slider--title {
  position: absolute;
  font-size: 1.1rem;
  top: -16px;
  left: 0px;
}

.pg__bg {
  width: 75%;
  background-color: #222831;
  border: none;
  color: white;
  font-family: "Lato";
  font-size: 1.6rem;
  margin: 0 auto;
  display: block;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.pg__bg:nth-child(2) {
  margin-bottom: 3rem;
}

.pg__bg:nth-child(3) {
  margin-bottom: 3rem;
}

.pg__switch {
  position: relative;
  -webkit-appearance: none;
  float: right;
  width: 3rem;
  height: 1.3rem;
  border-radius: 20px;
  background-color: #00adb5;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.pg__switch::before {
  content: "";
  position: absolute;
  top: -1px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #eeeeee;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3 all;
  transition: 0.3 all;
}

.pg__switch:checked {
  background-color: #00adb5;
}

.pg__switch:checked::before {
  left: 50%;
}

.pg__password {
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.pg__password::-webkit-input-placeholder {
  color: #eeeeee;
  font-size: 1.7rem;
}

.pg__password:focus, .pg__password:active {
  outline: none;
}

.pg__password--copy {
  position: absolute;
  bottom: 5px;
  right: 35px;
  font-size: 1.3rem;
  color: #eeeeee;
}

.pg__btn {
  width: 85%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  background-color: #00adb5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pg__btn:hover {
  cursor: pointer;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.pg__btn:focus, .pg__btn:active {
  outline: none;
}

.u-hide {
  display: none;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-text-align-center {
  text-align: center;
}

.u-pos-relative {
  position: relative;
}
/*# sourceMappingURL=style.css.map */